<div class="wrapper">
  <div class="container">
    <div class="hide">
      <ul class="wrapper-ls">
        <li class="wrapper-item discussion">
          <a href="#">Discussions <i class="fas fa-sort-down"></i></a>
          <div class="drop-down">
            <a class="drop-link" href="#">General</a>
            <a class="drop-link" href="#">Content Issues</a>
          </div>
        </li>
        <li class="wrapper-item">
          <a href="#">Reviews</a>
        </li>
        <li class="wrapper-item">
          <a href="#">Video</a>
        </li>
        <li class="wrapper-item">
          <a href="#">Images</a>
        </li>
        <li class="wrapper-item">
          <a href="#">Changes</a>
        </li>
        <li class="wrapper-item">
          <a href="#">Report</a>
        </li>
        <li class="wrapper-item">
          <a href="#">Share</a>
        </li>
      </ul>
    </div>
  </div>
</div>
