<div class="wrapper">
  <div class="container">
    <ul class="wrapper-ls">
      <li class="wrapper-item">
        <a href="#">Discussions <i class="fas fa-sort-down"></i></a>
      </li>

      <li class="wrapper-item">
        <a href="#">Reviews</a>
      </li>
      <li class="wrapper-item">
        <a href="#">Video <i class="fas fa-sort-down"></i></a>
      </li>
      <li class="wrapper-item">
        <a href="#">Images</a>
      </li>
      <li class="wrapper-item">
        <a href="#">Changes</a>
      </li>
      <li class="wrapper-item">
        <a href="#">Report</a>
      </li>
      <li class="wrapper-item">
        <a href="#">Share</a>
      </li>
    </ul>
  </div>
</div>
